.homeSlider {
	position: relative;
	@media (max-width: 991px)
		{
		overflow:hidden;
		}
	img {
		max-width: 100%;
		width: 100%;
		-webkit-animation: imageAnimation 40s linear infinite 0s;
		-moz-animation: imageAnimation 40s linear infinite 0s;
		-o-animation: imageAnimation 40s linear infinite 0s;
		-ms-animation: imageAnimation 40s linear infinite 0s;
		animation: imageAnimation 40s linear infinite 0s;
		height: 102vh;
		@media (max-width: 991px)
			{
			max-width:inherit;
		    width:inherit;	
		}
	}
	&:before {
		content: "";
		position: absolute;
		background: rgba(0, 0, 0, 0.8);
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	.sliderContent {
		position: absolute;
		top: 50%;
		text-align: center;
		transform: translateY(-50%);
		width: 100%;
		span {
			font-family: 'dosislight';
			font-size: 32px;
			text-transform: uppercase;
			letter-spacing: 3px;
			color: #3095fb;
		}
		h1 {
			font-size: 50px;
			color: #fff;
			text-transform: uppercase;
			letter-spacing: 1px;
			margin: 0 0 6px 0;
			@media (max-width: 991px)
			  {
			  font-size:38px;		
			}
		}
		p {
			color: #fff;
			font-style: italic;
			letter-spacing: 1px;
			line-height: 22px;
			margin: 0 0 40px 0;
			@media (max-width: 767px)
			{
			font-size:13px;	
			}
			br{
				@media (max-width: 767px)
				{
				 display:none;
				}
			}
		}
	}
	.scroll {
		bottom: 40px;
		color: #ffffff;
		display: inline-block;
		left: 50%;
		letter-spacing: 0.1em;
		position: absolute;
		text-decoration: none;
		transform: translate(0px, -50%);
		transition: opacity 0.3s ease 0s;
		-webkit-transition: opacity 0.3s ease 0s;
		z-index: 2;
		a {
			display: inline-block;
			line-height: 40px;
			margin: 0;
			span {
				border: 2px solid #fff;
				border-radius: 50px;
				box-sizing: border-box;
				height: 46px;
				left: 50%;
				margin-left: -15px;
				position: absolute;
				top: 0;
				width: 30px;
				&:before {
					animation: 2s ease 0s normal none infinite running sdb10;
					background-color: #d3ad52;
					box-sizing: border-box;
					color: #fff;
					content: "\f107";
					font-family: FontAwesome;
					font-size: 27px;
					height: 0;
					left: 50%;
					margin-left: -8px;
					position: absolute;
					top: -8px;
					width: 0;
				}
			}
		}
	}
}

/*--Home page --*/

.aboutUs {
	padding: 90px 0;
	background-color: #f9f9f9;
	 @media (max-width: 991px)
	  {
	   padding:45px 0;
	}
	 @media (max-width: 991px)
	  {
	   padding:35px 0;
	}
	.aboutUsTitle {
		h2 {
			color: #000000;
			font-size: 84px;
			line-height: 82px;
			position: relative;
			text-align: right;
			padding: 0 40px 0 0;
			font-family: 'open_sansextrabold';
			text-transform: uppercase;
			span {
				color: #3095fb;
			}
			@media (max-width: 1199px)
			{
			padding: 0 20px 0 0;
			font-size: 67px;
            line-height: 70px;
			}
			@media (max-width: 991px)
			{
			line-height:55px;
		    padding: 0;
            font-size: 50px;
			}
			@media (max-width:767px)
			 {
			text-align:center;
			font-size:38px;
			}
		}
		@media (max-width:767px)
		{
		margin:0 0 15px 0;
		}
	}
	.aboutUsDesc {
		position: relative;
		text-align: left;
		@media (max-width:767px)
			{
			text-align:center;	
			}
		p {
			margin: 0 0 10px 0;
			line-height: 26px;
			
		}
		ul {
			margin: 20px 0 0 0px;
			padding: 0px;
			list-style: none;
			li {
				display: inline-block;
				margin: 0 30px 0 0;
				font-family: 'dosisextrabold';
				a {
					color: #193370;
					border-bottom: 1px solid #f9f9f9;
					padding: 0 0 5px 0;
					transition: 0.5s;
					&:hover {
						border-bottom: 1px solid #193370;
					}
				}
			}
		}
	}
}

.softwareSolutions {
	padding: 90px 0;
	position: relative;
//	background-color: #181f28;
	background-image: url("../images/bannerbg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	&:before{
		background: rgba(0, 0, 0, 0.8);
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	  @media (max-width: 991px)
	  {
	   padding:45px 0;
	}
	.softwareSolutionsDesc {
		position: relative;
		text-align: center;
		margin: 0 0 50px 0;
		 @media (max-width: 991px)
		 {
		   margin: 0 0 45px 0;	 
		}
		span {
			font-family: 'dosislight';
			font-size: 32px;
			text-transform: uppercase;
			letter-spacing: 3px;
			color: #3095fb;
			@media (max-width:767px)
			{
			font-size:25px;
			}
		}
		h2 {
			font-size: 38px;
			margin: 0 0 10px 0;
			color: #fff;
			letter-spacing: 1px;
			 @media (max-width: 991px)
			 {
			 font-size:30px;
			}
			@media (max-width:767px)
			{
			font-size:25px;
			}
		}
	}
	.serviceSection {
		background-color: #fff;
		z-index: 9;
		position: relative;
		.services {
			border-width: 0px 1px 1px 0;
			border-color: #ddd;
			border-style: solid;
			padding: 30px 15px 30px 15px;
			height: 335px;
			text-align: center;
			transition: 0.5s;
			  @media (max-width: 991px)
			  {
			  padding:15px;
			  }
			 @media (max-width:767px)
			  {
			  height:295px;
			  }
			 @media (max-width:576px)
			 {
			  padding:30px 15px;
			  height:auto;
			 }
			&.last {
				border-width: 0px 0px 1px 0;
				@media (max-width: 767px)
					{
					border-width: 0px 1px 1px 0;	
				}
			}
			&.borBtm{
			 border-width:0px 1px 0px 0px;
			}
			&
			.servicesDesc {
				h3 {
					font-size: 16px;
					line-height: 24px;
					margin: 0 0 12px 0;
					letter-spacing: 1px;
					 @media (max-width: 991px)
					 {
						font-size: 14px;
						line-height: 22px;	
						margin: 0 0 6px 0;
					 }
					 @media (max-width:576px)
					 {
					  font-size:17px;
					  margin:0 0 12px 0;
					}
				}
				p {
					line-height: 24px;
					margin: 0px;
					font-size: 14px;
					color: #000;
					 @media (max-width: 991px)
					 {
						line-height: 21px;
						margin: 0px;
						font-size: 13px;	 
					}
					@media (max-width:576px)
					 {
					  font-size:14px;	
					  line-height: 24px;
					}
				}
			}
			&:hover {
				background-color: #155a9f;
				.servicesDesc {
					h3 {
						color: #fff;
					}
					p {
						color: #fff;
					}
				}
				.spriteImage {
					&.softDev {
						background-position: 0 90.909091%;
					}
					&.fullDev{
					background-position: 0 54.545455%;
				    }
					&.frontEnd{
					background-position: 0 36.363636%;
			    	}
					&.devTeam{
				    background-position: 0 18.181818%;	
			    	}
					&.hireDev
					{
					 background-position: 0 72.727273%;
					}
					&.netDev{
				     background-position: 0 0%;
				    }
				}
			}
			.spriteImage {
				width: 74px;
				height: 74px;
				margin: 0 auto 20px;
				background-image: url("../images/spriteicons.png");
				background-size: 100%;
					@media (max-width: 991px)
					{
                     width:55px;
				     height:55px;
					 margin: 0 auto 10px;
					}
				&.softDev {
					background-position: 0 100%;
				}
				&.fullDev{
					background-position: 0 63.636364%
				}
				&.frontEnd{
					background-position: 0 45.454545%;
				}
				&.devTeam{
				   background-position: 0 27.272727%;	
				}
				&.hireDev
				{
				 background-position: 0 81.818182%;	
				}
				&.netDev{
				  background-position: 0 9.090909%;	
				}
			}
		}
	}
	.enquireDesc {
		padding: 30px 15px;
		text-align: center;
		background-color: #155a9f;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
		max-width: 900px;
		margin: 34px auto 0;
		width: 100%;
		position: absolute;
		width: 100%;
		left: 50%;
		transform: translateX(-50%);
		h3 {
			color: #fff;
			letter-spacing: 1px;
			font-size: 35px;
			margin: 0 0 10px 0;
			 @media (max-width: 991px)
			 {
			font-size: 30px;
			margin: 0 0 5px 0;	 
			}
			@media (max-width:767px)
			{
			font-size:25px;
			}
		}
		p {
			color: #fff;
			margin: 0 0 15px 0;
			a {
				font-size: 18px;
				font-weight: 500;
				color: #fff;
				letter-spacing: 1px;
			}
		}
	}
}

.logoSlider {
	background-color: #f9f9f9;
	padding: 200px 0 50px 0;
	  @media (max-width: 991px)
	  {
	padding: 215px 0 50px 0;	  
	}
	.logoTitle {
		text-align: center;
		margin: 0 0 30px 0;
		h2 {
			font-size: 38px;
			margin: 0;
			letter-spacing: 1px;
			@media (max-width: 991px)
			{
			font-size: 30px;	
			}
			@media (max-width:767px)
			{
			font-size:25px;
			}
		}
	}
	.logoCarousel {
		padding: 30px;
		background-color: #f2f2f2;
		margin: 0 auto;
		text-align: center;
		.item {
			.thumbImage {
				background: #fff;
				padding: 15px;
				border-radius: 4px;
				img {
					max-width: inherit;
					width: inherit;
					height: 60px;
				}
			}
		}
		.owl-nav {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
			left: 0;
			z-index: -1;
			.owl-prev {
				float: left;
				font-size: 35px;
				color: #007bff;
				margin-left: -60px;
			     @media (max-width: 991px)
				 {
					margin-left:-25px; 
				  }
				&:focus {
					outline: none;
				}
			}
			.owl-next {
				float: right;
				font-size: 35px;
				color: #007bff;
				margin-right: -60px;
			    @media (max-width: 991px)
				 {
					margin-right:-25px; 
				  }
				&:focus {
					outline: none;
				}
			}
		}
		.owl-dots {
			display: none;
		}
	}
}

.method {
	background-image: url("../images/method.png");
	background-repeat: no-repeat;
	background-position: right top;
	padding: 90px 0;
	background-color: #f9f9f9;
	.methodDesc {
		position: relative;
		text-align: left;
		h2 {
			font-size: 38px;
			margin: 0 0 30px 0;
			color: #000;
			letter-spacing: 1px;
		}
		p {
			margin: 0 0 10px 0;
			line-height: 26px;
		}
		.viewMore {
			color: #193370;
			border-bottom: 1px solid #f9f9f9;
			padding: 0;
			transition: 0.5s;
			font-family: 'dosisextrabold';
			&:hover {
				border-bottom: 1px solid #193370;
			}
		}
	}
	.animation-principles-home {
		max-width: 861px;
		margin: 35px auto 0;
		height: 410px;
		position: relative;
		 @media (max-width:480px)
		 {
		 height:260px;
		}
		.animation-holder-home {
			position: relative;
			opacity: 0;
			transform: translate3d(0, 50px, 0);
			transition: all 1s linear;
			height: 100%;
			&.visible {
				opacity: 1;
				transform: none;
			}
			.animation-element-home {
				background-size: 100% 100%;
				position: absolute;
			}
			.stepOne {
				background-image: url(../images/agile.png);
				height: 300px;
				left:16%;
				top: 50px;
				width: 70%;
				margin: 0 auto;
				right: auto;
				 @media (max-width:480px)
				 {
				     height: 180px;
					left: 16%;
					top: 50px;	
			     }
			}
			.stepTwo {
				background-image: url(../images/product_backlog.png);
				height: 60px;
				left: 38%;
				bottom: 32px;
				width: 15%;
				@media (max-width:480px)
				 {
				    height: 43px;
					bottom: 0;
					width: 17%;
			     }
			}
			.stepThree {
				background-image: url(../images/sprint_planning.png);
			    height: 70px;
				left: auto;
				right: 50px;
				width: 15%;
				bottom: 85px;
				@media (max-width:480px)
				 {
				    height: 50px;
					bottom: 20px;	
			     }
			}
			.stepFour {
				background-image: url(../images/backlog_grooming.png);
				height: 70px;
				left: auto;
				top: 125px;
				width: 11%;
				right: 25px;
				@media (max-width:480px)
				 {
				    height: 51px;
					top: 106px;
			     }
			}
			.stepFive {
				background-image: url(../images/dailyscrum.png);
				height: 20px;
				left: auto;
				top: 91px;
				width: 7%;
				right: 101px;
				@media (max-width:480px)
				 {
				top: 72px;
				right:69px;
			     }
			}
			.stepSix {
				background-image: url(../images/scrum.png);
				height: 45px;
				left: auto;
				top: 0px;
				width: 7%;
				right: 110px;
				@media (max-width:480px)
				 {
				   height: 28px;
					top: 18px;
					width: 7%;
					right: 65px;
			     }
			}
			.stepSeven {
				background-image: url(../images/sprint_review.png);
				height: 56px;
				left: 42%;
				top: -19px;
				width: 17%;
				@media (max-width:480px)
				 {
				    top: -10px;
                    height: 46px;
			     }
			}
			.stepEight {
				background-image: url(../images/release.png);
			    height: 70px;
				left: 59px;
				top: 29px;
				width: 18%;
				@media (max-width:480px)
				 {
				top: 32px;
				height: 45px;
				left: 44px;	
			     }
			}
			.stepNine {
				background-image: url(../images/retrospective.png);
				height: 51px;
				left: 56px;
				top: auto;
				width: 27%;
				bottom: 102px;
				@media (max-width:480px)
				 {
					top: auto;
					bottom: 47px;
					left: 40px;
					height: 38px;

			     }
			}
		}
	}
}

.counterSection {
	background-color: #155a9f;
	padding: 50px 0;
	position: relative;
	background-image: url("../images/counterbg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	&:before {
		position: absolute;
		content: "";
		border-bottom: 15px solid #155a9f;
		border-left: 15px solid transparent;
		border-top: 15px solid transparent;
		bottom: -15px;
		transform: rotate(45deg) translateX(-50%);
		left: 50%;
	}
	.counterTitle {
		text-align: center;
		margin: 0 0 40px 0;
		h2 {
			color: #fff;
			letter-spacing: 1px;
			font-size:35px;
			letter-spacing: 1px;
			 @media (max-width: 991px)
			 {
			  font-size:30px;	 
			}
			@media (max-width:767px)
			{
			font-size:25px;
			}
		}
	}
	.counters {
		text-align: center;
		color: #fff;
		span {
			font-size: 30px;
			font-family: 'dosisextrabold';
			position: relative;
			margin: 0 0 10px 0;
			display: inline-block;
			&:before {
				content: "+";
				position: absolute;
				top: -23px;
				right: -33px;
				font-size: 50px;
			}
		}
		p {
			color: #fff;
			font-size: 14px;
			font-family: 'open_sansregular';
			text-transform: uppercase;
			letter-spacing: 1px;
		}
		 @media (max-width:767px)
		 {
	     margin: 0 0 25px 0; 
		}
	}
}

.testimonials {
	padding:0;
	background-color: #e0e5eb;
	 @media (max-width: 991px)
	 {
	  padding:45px 0;
	}
	.testimonialDesc {
		position: relative;
		margin: 0;
		background-color: #193370;
		height: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: left;
		padding: 0 30px;
		@media (max-width: 991px)
		{
		margin: 0 0 30px 0;	
		}
		span{
		font-family: 'dosislight';
		font-size: 32px;
		text-transform: uppercase;
		letter-spacing: 3px;
		color: #3095fb;
		}
		h3 {
			font-size: 65px;
			margin: 0 0 24px 0;
			color:#fff;
			@media (max-width: 991px)
			 {
			  font-size:30px;
			}
			@media (max-width:767px)
			{
			font-size:25px;
			}
		}
	}
	.testimonialCarousel {
		position: relative;
		padding: 90px 30px;

		.testDesc {
			text-align:left;
			padding: 0 120px;
			position: relative;
			 @media (max-width:767px)
			 {
			 padding:0 20px;	 
			}
			&:before {
				background: rgba(0, 0, 0, 0) url(../images/leftarrow.png) no-repeat scroll 0 0;
				content: "";
				height: 49px;
				left: 28px;
				position: absolute;
				top:0px;
				width: 68px;
				 @media (max-width:767px)
				 {
				left:0px;	 
				}
			}
			&:after {
				background: rgba(0, 0, 0, 0) url(../images/rightarrow.png) no-repeat scroll 0 0;
				bottom: 22px;
				left: auto;
				right:50px;
				top: inherit;
				width: 68px;
				height: 49px;
				content: "";
				position: absolute;
			}
			p {
				font-size: 14px;
				line-height: 24px;
				margin: 0 0 20px 0;
			}
		}
		.owl-nav {
			position: absolute;
			top: auto;
			left: 50%;
			transform: translateY(-50%);
			boot: 36;
			bottom: -60px;
            display:none;
			.owl-prev {
				position: relative;
				left: -25px;
				span {
					font-size: 50px;
					line-height: normal;
					color: #777;
				}
				&:focus {
					outline: none;
				}
			}
			.owl-next {
				span {
					font-size: 50px;
					line-height: normal;
					color: #777;
				}
				&:focus {
					outline: none;
				}
			}
		}
		.owl-dots{
			display:none;
		}
	}
}

.footerForm {
	background-image: url("../images/form-banner-black..jpg");
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 70px;
	position: relative;
		@media (max-width: 991px)
		{
       padding:45px 0; 
		}
	&:before {
		background: rgba(0, 0, 0, 0.9);
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}
	.formHeading {
		margin: 0 0 50px 0;
		text-align: center;
		@media (max-width: 991px)
		{
		 margin:0 0 30px 0;
		}

		h2 {
			color: #fff;
			font-size:35px;
			letter-spacing:1px;
			@media (max-width: 991px)
			{
			 font-size:30px;
			}
		    @media (max-width:767px)
			{
			font-size:25px;
			}
		}
	}
	.footerInput {
		margin: 0 0 30px 0;
		position: relative;
		.form-control {
			background-color: transparent;
			height: 50px;
			border-radius: 4px;
			letter-spacing: 1px;
			color: #fff;
		}
		input {
			&::placeholder {
				color: rgba(255, 255, 255, 0.7);
			}
		}
		textarea {
			&::placeholder {
				color: rgba(255, 255, 255, 0.7);
			}
		}
	}
}


/*--About Us --*/

.innerBanner {
	position: relative;
	.bannerMain {
		position: relative;
		margin:87px 0 0 0;
		 @media (max-width:576px)
		 {
		  margin:113px 0 0 0;	 
		}
		img {
			max-width: 100%;
			width: 100%;
		}
		.bannerDesc {
			position: absolute;
			text-align: center;
			width: 100%;
			top: 50%;
			transform: translateY(-50%);
			&.inner{
			  text-align: left!important;
			}
			.textCapitalize{
				h1{
					 text-transform: capitalize;
					 text-align: center;
				}
			}
			
			h1 {
				margin: 0px !important;
				font-size: 45px;
				font-weight: 800;
				line-height: 56px;
				color: #fff;
				letter-spacing: 1px;
				@media (max-width:767px)
				 {
				     font-size: 35px;
                     line-height: 40px;	 
				}
				
				 @media (max-width:576px)
				 {
				     font-size: 27px;
                     line-height: 28px;	 
				}
			}
		}
		&.textCenter {
			.bannerDesc {
				text-align: center;
			}
		}
	}
}

.story {
	padding: 0px 0 40px;
	background-image: url("../images/aboutbg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	.storyInner {
		background-color: #f9f9f9;
		box-shadow: 0 3px 24px rgba(0, 0, 0, 0.69);
		padding: 40px 60px;
		margin: -90px 0 40px 0;
		 @media (max-width:767px)
		 {
		 padding: 40px 30px;	
	     margin: -30px 0 40px 0;
		}
		h1 {
			font-size: 35px;
			line-height: 42px;
			margin: 0 0 15px 0;
		}
		p {
			line-height: 30px;
			margin: 0 0 10px 0;
		}
		ul {
			margin: 0px;
			list-style: disc;
			padding: 0 0 0 30px;
			li {
				color: #000;
				font-size: 14px;
				line-height: 24px;
				margin: 0 0 10px 0;
			}
		}
	}
	h2 {
		font-family: 'open_sanssemibold';
		font-size: 35px;
		line-height: 30px;
		margin: 0 0 20px 0;
	}
	p {
		line-height: 30px;
		margin: 0 0 10px 0;
	}
	.peopleImage {
		position: relative;
		img {
			max-width: 100%;
		}
	}
}

.whyus {
	padding: 0px 0 40px 0;
	margin: 80px 0 0 0;
	.whiteCont {
		background-color: #fff;
		box-shadow: 0 3px 24px rgba(0, 0, 0, 0.69);
		padding: 66px 33px 20px;
		h3 {
			color: #565656;
			font-size: 19px;
			text-transform: uppercase;
			line-height: 42px;
			 @media (max-width:767px)
			 {
			  line-height: 26px;
              margin: 0 0 15px 0;	 
			}
		}
		h4 {
			color: #155a9f;
			font-size: 35px;
			line-height: 42px;
			margin: 0 0 35px 0;
		}
		.whyusInner {
			margin: 0 0 35px 0px;
			.whyusInnerImage {
				img {
					width: 100%;
				}
			}
			.whyusInnerDesc {
				border-top: 0px solid #e0e0e0;
				border-left: 2px solid #e0e0e0;
				border-bottom: 2px solid #e0e0e0;
				border-right: 2px solid #e0e0e0;
				padding: 15px 24px;
				h5 {
					color: #155a9f;
					font-size: 19px;
					text-transform: uppercase;
					line-height: 42px;
				}
				p {
					line-height: 30px;
					font-size: 14px;
					color: #565656;
					font-weight: 400;
				}
			}
		}
	}
}


/*--software development services  --*/

.software {
	padding: 50px 0;
	 @media (max-width:767px)
	 {
	  padding:25px 0;	 
	 }
	.softwareDesc {
		position: relative;
		p {
			line-height: 30px;
			margin: 0 0 10px 0;
			.hostSoft {
				float: right;
				margin: 0 0 0 40px;
				 @media (max-width:991px)
				 {
					width:50%; 
				}
				 @media (max-width:767px)
				 {
				   margin: 0 auto;
					max-width: 100%;
					display: block;
					float: none;
				}

			}
		}
		.siteBtn
		{
		background-color: #193370;
		color:#fff;
		border:1px solid #193370;
		}
		h2 {
			font-size: 24px;
			margin: 22px 0;
		}
		ul {
			margin: 0px;
			padding: 0 0 0 30px;
			li {
				font-size: 15px;
				line-height: 33px;
				b {
					color: #155a9f;
				}
			}
		}
	}
}

.softwareIndustry {
	padding: 25px 0 0px 0;
	.softwareIndustryDesc {
		text-align: center;
		h3 {
			font-size: 27px;
			margin: 0 0 15px 0;
		}
		p {
			text-align: center;
			line-height: 30px;
			margin: 0 0 15px 0;
		}
		img {
			max-width: 100%;
		}
	}
}

.clients {
	background-image: url("../images/clientbg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 70px 0 50px 0;
	background-position: top left;
	.clientDesc {
		text-align: center;
		h3 {
			font-size: 27px;
			color: #fff;
			margin: 0 0 15px 0;
		}
		p {
			line-height: 30px;
			color: #fff;
			margin: 0 0 30px 0;
		}
	}
}

.softwareMethod {
	background-color: #f8f8f8;
	padding: 60px 0;
	@media (max-width:767px)
	{
	 padding:30px 0;
	}
	.softwareMethodDesc {
		text-align: center;
		h3 {
			font-size: 27px;
			margin: 0 0 15px 0;
		}
	}
	.processWorkflow {
		height: 570px;
		min-height: 570px;
		width: 100%;
		margin: 42px auto 30px;
		position: relative;
		 @media (max-width:767px)
		 {
		  height: inherit;
		  min-height: inherit; 
		  margin: 42px auto 0px;
		}
		.processMain {
			display: block;
			  @media (max-width:767px)
				 {
				margin: 0 0 90px 0;
				width:49%;
				text-align: center;
				display: inline-block;
		     	}
			   @media (max-width:576px)
			 {
				width:100%; 
			}
			.processBubble {
				position: absolute;
				text-align: center;
				cursor: pointer;
				z-index: 2;
				 @media (max-width:767px)
				 {
				  position: relative;	 
				}
				&.first {
					top: 0;
					left: 0;
					width: 260px;
					height: 219px;
					 @media (max-width:991px)
					 {
						width:150px; 
					}
					  @media (max-width:767px)
					  {
					    width: 244px;
						margin: 0 auto;
						animation-delay: 0s!important;  
					}
					.processImage{
						margin: 0 0 15px 0;
						img{
						 max-width:100%;
						}
					}
				}
				&.second {
					right: 30px;
					left: 400px;
					width: 288px;
					height: 217px;
					 @media (max-width:991px)
					 {
						width:150px; 
						 left:42%;
					}
					 @media (max-width:767px)
					  {
						right:0;
						 left:auto;
						  width: 244px;
							position: relative;
							margin: 0 auto;
							animation-delay: 0s!important; 
					   }
					.processImage{
						margin: 0 0 15px 0;
						img{
						 max-width:100%;
						}
					}
				}
				&.third {
					right: 0px;
					top: 0;
					width: 288px;
					height: 217px;
					 @media (max-width:991px)
					 {
						width:150px; 
					}
					 @media (max-width:767px)
					  {
						right:auto;
						 left:0;
						  width: 244px;
							position: relative;
							margin: 0 auto;
							animation-delay: 0s!important; 
					   }
					.processImage{
						margin: 0 0 15px 0;
						img{
						 max-width:100%;
						}
					}
				}
				&.fourth {
					right:0px;
					top: auto;
					bottom: 0px;
					width: 288px;
					height: 217px;
					 @media (max-width:991px)
					 {
						width:150px; 
						right:0px;
					}
					 @media (max-width:767px)
					  {
						right:0;
						 left:auto;
						  width: 244px;
							position: relative;
							margin: 0 auto;
							animation-delay: 0s!important; 
					   }	
					.processImage{
						margin: 0 0 15px 0;
						img{
						 max-width:100%;
						}
					}
				}
				&.fifth {
					right: 30px;
					left: 400px;
					bottom: 0px;
					width: 288px;
					height: 217px;
					 @media (max-width:991px)
					 {
						width:150px; 
						left:42%;
					}
					 @media (max-width:767px)
					  {
						right:auto;
						 left:0;
						  width: 244px;
							position: relative;
							margin: 0 auto;
							animation-delay: 0s!important; 
					   }
					.processImage{
						margin: 0 0 15px 0;
						img{
						 max-width:100%;
						}
					}
				}
				&.sixth {
					right: auto;
					left: 0;
					bottom: 0;
					width: 288px;
					height: 217px;
					 @media (max-width:991px)
					 {
						width:150px; 
						left:0;
					}
					@media (max-width:767px)
					  {
						right:0;
						 left:auto;
						  width: 244px;
							position: relative;
							margin: 0 auto;
							animation-delay: 0s!important; 
					   }
					.processImage{
						margin: 0 0 15px 0;
						img{
						 max-width:100%;
						}
					}
				}
				h4 {
					font-size: 16px;
					line-height: 20px;
				      @media (max-width:1199px)
				     {
					     font-size: 14px;
                         line-height: 18px;
					}
					    
				}
			}
			.verticalLine {
				background-repeat: no-repeat;
				background-size: 100%;
				position: absolute;
				   @media (max-width:767px)
				   {
					display:none; 
					}
				&.first {
					background-image: url(../images/layer1.png);
					width: 476px;
					height: 121px;
					left: 106px;
					top: 42px;
					@media (max-width:1199px)
					 {
						width: 367px;
						top: 13px;
					}
					@media (max-width:991px)
					 {
					    width: 335px;
    				    top: 13px;	 
					}
					@media screen and (max-width: 849px) and (min-width: 768px)
					{
					    width: 288px;
    					top: 13px;	
					}
				}
				&.second {
					background-image: url(../images/layer2.png);
					width: 519px;
					height: 94px;
					left: 550px;
					top: 88px;
					@media (max-width:1199px)
					 {
						width: 250px;
					}
					@media (max-width:991px)
					 {
						left: 54%;
						top: 60px;
						width: 335px;
					}
					@media screen and (max-width: 849px) and (min-width: 768px)
					{
					    width: 250px;
						left: 377px;
						top: 40px;
					}
				}
				&.third {
					background-image: url(../images/layer3.png);
					width: 113px;
					height: 303px;
					right: 31px;
					top: 133px;
					@media (max-width:1199px)
					 {
					right: 0;
					}
					@media (max-width:991px)
					 {
					    top: 94px; right:0px;	 
					}
					@media screen and (max-width: 849px) and (min-width: 768px)
					{
					 top: 94px;
					 right:0px;
					}
				}
				&.fourth {
					background-image: url(../images/layer4.png);
					width: 470px;
					height: 140px;
					right: 154px;
					bottom: 62px;
					@media (max-width:1199px)
					 {
					width: 245px;
					}
					@media (max-width:991px)
					 {
					width: 319px;
					right: 113px;
					bottom: 80px;	 
					}
					@media screen and (max-width: 849px) and (min-width: 768px)
					{
					   width: 254px;
					   right: 113px;
					   bottom: 60px;
					}
				}
				&.fifth {
					background-image: url(../images/layer5.png);
					width: 515px;
					height: 109px;
					left: 107px;
					bottom: 40px;
					@media (max-width:1199px)
					 {
					width: 300px;	
					}
					@media (max-width:991px)
					 {
					    bottom: 55px; width:300px;
					}
					@media screen and (max-width: 849px) and (min-width: 768px)
					{
					        bottom: 55px;
    					width:300px;
					}
				}
			}
		}
	}
}

.softwareDev {
	background-color: #fff;
	padding: 40px 0 40px 0;
	.softwareDevDesc {
		text-align: center;
		margin: 0 0 60px 0;
		h3 {
			font-size: 27px;
			margin: 0 0 15px 0
		}
		h4 {
			font-size: 17px;
			margin: 0 0 25px 0;
		}
		p {
			text-align: center;
			line-height: 30px;
			margin: 0 0 10px 0;
		     @media (max-width:576px)
			   {
				 line-height:24px;	 
				}	
		}
	}
	.softwareApp {
		border: 1px solid #eee;
		padding: 16px 12px;
		text-align: center;
		margin: 0 0 30px 0;
		min-height: 240px;
		transition: all .7s ease;
		 @media (max-width:576px)
		 {
		  min-height: inherit;	 
		}
		&:hover {
			box-shadow: 1px 0 8px rgba(0, 0, 0, 0.12);
			transition: all .7s ease;
			background: rgba(220, 220, 220, 0.2);
		}
		h5 {
			font-size: 18px;
			line-height: 21px;
			margin: 0 0 15px 0;
			text-align: left;
			font-family: 'open_sanssemibold';
			br{
			   @media (max-width:576px)
			   {
				  display:none;
				}
			}
		}
		p {
			font-size: 14px;
			line-height: 23px;
			text-align: left;
		}
	}
}


/*-- Full stack services --*/

.fullStack {
	padding: 50px 0;
     @media (max-width:767px)
	 {
	  padding:25px 0;	 
	 }
	p {
		line-height:25px;
		margin: 0 0 10px 0;
	}
	h2 {
		font-size: 20px;
		margin: 13px 0;
	}
	ul {
		margin: 0 0 46px 0;
		padding: 0 0 0 30px;
		li {
			font-size: 15px;
			line-height: 33px;
		}
	}
}
.devServices
{
padding:50px 0;
	.heading{
	  margin:0 0 50px 0;
		h3{
		 font-size: 27px;
		}
	}
	.services{
	 max-width: 100%;
     margin: 0 auto;
     padding: 30px 0 100px 360px;
     position: relative;
     -webkit-transition: -webkit-transform 0.7s ease-out 0.1s, opacity 0.7s ease-out 0.1s;
     transition: transform 0.7s ease-out 0.1s, opacity 0.7s ease-out 0.1s;
		 @media (max-width:767px)
		 {
		 padding:30px;
		 text-align:center;
		}
		.thumbImage {
		position: absolute;
		left: 0px;
		top:30px;
	      @media (max-width:767px)
			 {
			 position: relative;
			 top:0;
			 margin:0 0 30px 0;
			}
	   }
		h4{
		 font-size: 25px;
         line-height: normal;
         margin: 0 0 15px 0;
         text-transform: capitalize;
		 position: relative;
		   &:before{
			  background: #155a9f;
			  position: absolute;
			  width: 100px;
			  height: 2px;
			  content: "";
			  top:15px;
			  left: -115px;
			     @media (max-width:767px)
				 {
				 display:none;
			   }
			}
		}
		p{
		 line-height: 25px;
		}
		&.even{
		 padding: 30px 360px 100px 30px;
			@media (max-width:767px)
				 {
				 padding:30px;
				 text-align:center;
				}
			.thumbImage {
				right: 0;
				left: auto;
				 @media (max-width:767px)
				 {
				 position: relative;
				 top:0;
				 margin:0 0 30px 0;
				right:auto;left:0;
				}
			}
			h4{
			 text-align: right;
				 @media (max-width:767px)
				 {
				 text-align: center;
				}
				&:before{
				  top:15px;
				  right: -115px;
				  left:auto;
					 @media (max-width:767px)
				 {
				 display:none;
			   }
				}
			}
			p{
			 text-align: right;
				@media (max-width:767px)
				 {
				 text-align: center;
				}
			}
		}
	}
}










.toolsTech {
	padding: 40px 0;
	&.greyBg {
		background-color: #fbfbfb;
	}
	.toolsTechTitle {
		text-align: center;
		margin: 0 0 80px 0;
		@media (max-width:767px)
		{
		margin: 0 0 40px 0;	
		}
		h3 {
			font-size: 27px;
		}
	}
	.technology {
		position: relative;
		float: left;
		.technologyInner {
			max-width: 50%;
			  @media (max-width:767px)
			  {
			   max-width:100%;	  
			 }
			h4 {
				font-size: 22px;
				margin: 0 0 15px 0;
			}
			p {
				line-height: 25px;
				margin: 0 0 20px 0;
			}
			ul {
				margin: 0 0 14px 0;
				list-style: none;
				padding: 0;
				li {
					font-size: 15px;
					line-height: 22px;
					margin: 0 0 20px 0;
					position: relative;
					padding: 0 0 0 75px;
					b {
						color: #155a9f;
					}
					.thumbIcon {
						position: absolute;
						top: 0;
						left: 0;
					}
				}
			}
			.thumbImage {
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 45%;
				img {
					width: 100%;
				}
				 @media (max-width:767px)
				 {
					position: relative;
					right: 0;
					top: 50%;
					transform: translateY(0%);
					width: 100%;
					margin:0 0 30px 0;
				}
			}
			&.fright {
				float: right;
				.thumbImage {
					left: 0px;
				}
			}
		}
	}
}

.fullDevop {
	padding: 40px 0;
	.fullDevopImage {
		text-align: center;
		h3 {
			font-size: 27px;
			margin: 0 0 15px 0;
		}
		img {
			max-width: 100%;
		}
	}
}

.softwareTech {
background-color: #f8f8f8;
	padding: 40px 0 40px 0;
	.softwareTechDesc {
		text-align: center;
		margin: 0 0 60px 0;
		h3 {
			font-size: 27px;
			margin: 0 0 15px 0;
		}
	}
	.softwareTechApp {
		border: 1px solid #eee;
		padding: 32px 12px;
		text-align: center;
		margin: 0 0 30px 0;
		min-height: 290px;
		transition: all .7s ease;
		background-color: #fff;
		 @media (max-width:576px)
		 {
		  min-height:auto;	 
		}
		h5 {
			font-size: 18px;
			line-height: 21px;
			margin: 0 0 15px 0;
		}
		p {
			font-size: 14px;
			line-height: 23px;
			margin: 0 0 15px 0;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				width: auto;
				display: inline-block;
				margin: 0 18px 0 0;
			}
		}
	}
}



/*--methodology css --*/

.portfoliopage {
	padding:50px 0;
	.methodTop {
		text-align: center;
		span {
			font-family: 'dosissemibold';
			font-size: 32px;
			text-transform: uppercase;
			letter-spacing: 3px;
			color: #3095fb;
		}
		h2 {
			font-size: 38px;
			letter-spacing: 1px;
			margin: 0 0 20px 0;
		}
		h3 {
			line-height: 30px;
			margin: 0 0 0px 0;
			font-size: 19px;
			text-transform: capitalize;
		}
	}
	.portfolio {
		position: relative;
		    padding: 50px 0 0 0;
		p {
			line-height: 30px;
			margin: 0 0 10px 0;
		}
		ul {
			margin: 0px 0 10px 0;
			padding: 0 0 0 30px;
			li {
				font-size: 14px;
				line-height: 30px;
				color: #000;
				font-weight: 400;
			}
		}
	}
	.methodology {
		position: relative;
		width: 450px;
		float: right;
		 @media (max-width:640px)
			{
              margin: 0 0px 20px 0;
			}
		 
		img {
			max-width: 100%;
		}
	}
}

.agileScrum {
	background-image: url("../images/bgimage1.jpg");
	background-repeat: no-repeat;
	background-position: right top;
	background-size: cover;
	padding: 50px 0;
	.implementMethodology {
		h2 {
			font-size: 35px;
			line-height: 42px;
			margin: 0 0 15px 0;
		}
		p {
			line-height: 30px;
			margin: 0 0 10px 0;
		}
		img {
			max-width: 100%;
		}
	}
}

.agileScrum1 {
	background-color: #155a9f;
	padding: 50px 0;
	position: relative;
	.implementMethodology {
		h2 {
			font-size: 35px;
			line-height: 42px;
			margin: 0 0 15px 0;
			color: #fff;
		}
		p {
			line-height: 30px;
			margin: 0 0 10px 0;
			color: #fff;
		}
		img {
			max-width: 100%;
		}
		.icons {
			display: block;
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				li {
					display: inline-block;
					width: 16%;
					margin: 0 20px 0 0;
					img {
						max-width: 100%;
					}
				}
			}
		}
	}
	.thumbImage {
		position: absolute;
		right: 0;
		top: 95px;
		width: 403px; 
		 @media (max-width:991px)
		 {
		display:none;	 
		}
		img {
			max-width: 100%;
		}
	}
}

.devStandards {
	padding: 185px 0 50px 0;
	position: relative;
	@media (max-width:1199px)
	{
	padding:130px 0 50px 0;	
	}
	@media (max-width:991px)
	{
	padding:50px 0 50px 0;	
	}
	.implementMethodology {
		h2 {
			font-size: 35px;
			line-height: 42px;
			margin: 0 0 15px 0;
		}
		p {
			line-height: 30px;
			margin: 0 0 10px 0;
		}
		img {
			max-width: 100%;
		}
		.icons {
			display: block;
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				li {
					display: inline-block;
					width: 16%;
					margin: 0 20px 0 0;
					img {
						max-width: 100%;
					}
				}
			}
		}
	}
	.thumbImage {
		position: absolute;
		left: 0;
		top: auto;
		width: 446px;
		bottom: 40px;
		@media (max-width:991px)
		{
		display:none;
		}
		img {
			max-width: 100%;
		}
	}
}


/*--portfolio css--*/

.portfolio {
	display: block;
	padding: 50px 0;
	 @media (max-width:576px)
	 {
	 padding:25px 0; 
	}
	.portfolioDesc {
		margin: 0 0 30px 0;
		p {
			color: #000;
			line-height: 24px;
			margin: 0 0 20px 0;
		}
	}
	.potfolioDiv {
		margin: 0 0 30px 0;
		box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
		overflow: hidden;
		.thumbImage {
			width: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: right top;
			height: 200px;
			transform: scale(1);
			transition: 2s;
		}
		.thumbDesc {
			border: 1px solid #eee;
			padding: 15px;
			h2 {
				font-size: 20px;
				margin: 0 0 10px 0;
			}
			p {
				font-size: 14px;
				margin: 0 0 10px 0;
				line-height: 24px;
			}
			a {
				color: #155a9f;
				&:hover {
					text-decoration: none;
				}
			}
		}
		a {
			&:hover {
				.thumbImage {
					transform: scale(1.05);
					transition: 2s;
				}
			}
		}
	}
}

.portfolioInner {
	padding: 50px 0;
	  @media (max-width:576px)
	  {
	   padding:25px 0;	  
	}
	.portfolioInnerDesc {
		h2 {
			font-size: 35px;
			line-height: 42px;
			margin: 0 0 15px 0;
			 @media (max-width:576px)
			 {
			 font-size: 25px;
             line-height: 30px;	 
			}
		}
		p {
			line-height: 30px;
			margin: 0 0 20px 0;
		}
		h3 {
			font-size: 19px;
			line-height: 30px;
			margin: 0 0 10px 0;
		}
		ul {
			margin: 0px 0 20px 0;
			padding: 0 0 0 30px;
			li {
				font-size: 14px;
				line-height: 30px;
				color: #000;
				font-family: 'open_sansregular';
			}
		}
		h4 {
			font-size: 18px;
			color: #000;
			font-family: 'open_sansregular';
			margin: 0 0 15px 0;
		}
	}
	.portfolioInnerImage {
		position: relative;
		img {
			max-width: 100%;
		}
	}
}

.portfolioBg {
	background-image: url("../images/portfoliobgimage.png");
	background-repeat: no-repeat;
	background-position: right top;
	background-size: cover;
	padding: 50px 0;
}


/*----*/

.contact {
	padding: 70px 0;
	.contactInner {
		background: #fff;
		top: 0px;
		position: relative;
		z-index: 9;
		border: 1px solid #eee;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		padding: 40px 20px;
		.heading {
			text-align: left;
			margin: 0 0 40px 0;
			h1 {
				font-family: 'dosissemibold';
				font-size: 32px;
				text-transform: capitalize;
				letter-spacing: 3px;
				color: #193370;
				margin: 0 0 30px 0;
			}
		}
		.contactForm {
			padding: 0 0 30px 0;
			position: relative;
			label{
				&.error {
				position: absolute;
				bottom:0px;
				font-size: 12px;
				color: #ff0000;
				display: none;
			}
			}
			.siteBtn {
				height: 40px;
				background: #193370;
				line-height: normal;
				border: 1px solid #193370;
				color: #fff;
			}
		}
	}
	.contactInfo {
		background-color: #193370;
		padding: 30px 25px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		h2 {
			font-family: 'dosisregular';
			font-size: 32px;
			text-transform: capitalize;
			letter-spacing: 3px;
			color: #fff;
			margin: 0 0 30px 0;
		}
		ul {
			margin: 0px;
			padding: 0px;
			list-style: none;
			li {
				position: relative;
				padding: 0 0 30px 25px;
				color: #fff;
				font-family: 'dosisregular';
				letter-spacing: 1.5px;
				a {
					color: #fff;
				}
				span {
					position: absolute;
					left: 0;
					top: 0px;
				}
			}
		}
	}
}

.map {
	position: relative;
	.mapInner {
		width: 100%;
		iframe {
			width: 100%;
			height: 250px;
			position: relative;
			bottom: -6px;
		}
	}
}


/*--privacy policy--*/

.policy {
	padding: 50px 0;
	.policyDesc {
		display: block;
		h2 {
			font-size: 24px;
			margin: 22px 0;
		}
		p {
			font-size: 16px;
			line-height: 30px;
			a {
				color: #155a9f;
			}
		}
	}
}

/*----*/
.commonSlider {
    padding: 50px 0 50px 0;
	 @media (max-width:576px)
	 {
	 display:none;
	}
	.commonTitle {
    text-align: center;
    margin: 0 0 30px 0;
  }
}



/*---  UX UI   -- */

.uxUiImageDesc{
	h2{
		font-family: 'open_sanssemibold';
		text-transform: none;
	}

}

.puxUiDesc{
	h2{
			font-family: 'open_sanssemibold';
			text-transform: none;
		}
}

.topSpace150 {
    margin-top: 150px;
	.uxUiDvplCol{
		box-shadow: 0 0 15px rgba(0,0,0,0.2);
		padding: 20px 20px 40px;
		
		.dvplColIcon {
			width: 150px;
			height: 150px;
			margin: -40px auto 0;
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
			border-radius: 50%;
			position: relative;
			top: -50px;
			background-color: #fff;
		}
		h4{
			margin-bottom: 10px;
			font-family: 'open_sanssemibold';
			text-transform: none;
			min-height: 56px;
		}
	}
}

.ctaSection {
    padding: 80px 0;
	
	@media(max-width:767px){
		padding: 35px 0;
	}

	&.blueBg {
		h2{
			color: #fff;
			text-transform: capitalize;
			font-family: 'open_sanssemibold';
		}
		.uxUiCtaBtn {
			.siteBtn{
				&:last-child {
					margin-right: 0;
				}
				&:hover{
					background-color: #fff;
					color:#217cb0 !important;
					border-color:transparent;
				}
				
				@media(max-width:767px){
					 margin: 0 0 10px;
				}
			}

		}
	}
	&.lightBlueBg{
		h2{
			color: #fff;
			text-transform: capitalize;
			font-family: 'open_sanssemibold';
		}
		p{
		  color:#fff;	
		}
		.uxUiCtaBtn {
			.siteBtn{
				&:last-child {
					margin-right: 0;
				}
				&:hover{
					background-color: #fff;
					color:#217cb0 !important;
					border-color:transparent;
				}
				
				@media(max-width:767px){
					 margin: 0 0 10px;
				}
			}

		}
	}
}



.dcsSection{
	.topSpace150 {
		margin-top: 100px;
	}
}

/*   hire remote developrts  */
.remoteBg {
    background-image: url(../../assets/images/transparent-bg.png);
	background-repeat: no-repeat;
    background-position: center left;
}
.hrdSection {
    background-color: #fff;
    padding:35px 15px;
    margin-bottom: 30px;
	display: inline-block;
    width: 100%;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;

	.hrdCaptionIcon {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 15px;
		
		@media(max-width:1199px){
			    flex-direction: column;
				align-items: flex-start;
		}
		
		span{
			width: 75px;
			height: 75px;
			display: inline-block;
			margin-right: 10px;
			
			&.icon{
				&.spriteIcon-1{
					background-image: url(../../assets/images/sprite-icon.png);
					background-repeat: no-repeat;
					background-position: 0 0;
				}
				&.spriteIcon-2{
					background-image: url(../../assets/images/sprite-icon.png);
					background-repeat: no-repeat;
					background-position: -260px 0;
				}
				&.spriteIcon-3{
					background-image: url(../../assets/images/sprite-icon.png);
					background-repeat: no-repeat;
					background-position: -87px 0;
				}
				&.spriteIcon-4{
					background-image: url(../../assets/images/sprite-icon.png);
					background-repeat: no-repeat;
					background-position: -172px 0;     
				}
				&.spriteIcon-5{
					background-image: url(../../assets/images/sprite-icon.png);
					background-repeat: no-repeat;
					background-position: -356px -10px; 
					width: 60px;
					height: 60px;
				}
				&.spriteIcon-6{
					background-image: url(../../assets/images/sprite-icon.png);
					background-repeat: no-repeat;
					background-position: -435px -10px;  
					width: 60px;
					height: 60px;
				}
			}			
		}
		
		h4{
			font-family: 'open_sanssemibold';
			text-transform: capitalize;
		}
				
		
	}
	.hrdColSection {
		min-height: 224px;
		@media(max-width:767px){
			min-height: inherit;
		}
	}
	
	&:hover{
		background-color: #193370;
		
		h4{
			color: #fff;
		}
		p{
			color: #fff;
		}
		.icon{
			&.spriteIcon-1{
				background-position: 0 -75px;
			}

			&.spriteIcon-2{
				background-position: -260px -74px;
			}
				
			&.spriteIcon-3{
				background-position: -87px -75px;
			}
				
			&.spriteIcon-4{
				background-position: -172px -75px;
			}
		}
	}
}

.fhmSection{
	h2{
		text-transform: capitalize;
		font-family: 'open_sanssemibold';
	}
	.fhmDescSection{
		h5{
			text-transform: capitalize;
			font-family: 'open_sanssemibold';
		}
	}

}

/*   hire php developrts  */

.hdDecription{
	h2 {
		font-family: 'open_sanssemibold';
		text-transform: none;
	}

}
.whdSection{
	    border: 1px solid #193370;
		padding: 30px 15px;
		min-height: 256px;
		margin-bottom: 30px;
		
		@media(max-width:767px){
			min-height: inherit;
			
			.fhm-imageSection {
				margin-top: 20px;
			}
		}

	h5 {
		font-family: 'open_sanssemibold';
		text-transform: none;
	}

}

/*   ASP.net developrts  */

.rightAlignSection {
    max-width: 540px;
    align-self: center; 
	padding: 20px 0;
	
	h5 {
		font-family: 'open_sanssemibold';
		text-transform: none;
		color:#fff;
	}
	p {
		color:#fff;
		padding-left: 30px !important;
	}
}
.leftAlignSection{
	max-width: 540px;
    align-self: center; 
	padding: 20px 0;
	
	
	@media(max-width: 575px){
		margin-top: 0 !important;
	}
	
	h5 {
		font-family: 'open_sanssemibold';
		text-transform: none;
		color:#fff;
	}
	p {
		color:#fff;
		padding-left: 30px !important;
	}	
	
}
.contentAlignLeft{
		.leftAlignSection {
			padding-left: 20px;
			
			@media(max-width: 575px){
				padding-left: 0px;
			}
			
		}
	}
.cadSection{
	    position: relative;
	&.commonPadding{
		padding-top:30px;
	}
	&:before {
		position: absolute;
		content: "";
		width: 100%;
		height: 10%;
		background-color: #f8f8f8;
		border-radius: 50%;
		top: -43px;
		
		@media(max-width:575px){
			display: none;
		}
	}
}	

.crmSolution {
	position: relative;
	margin-top: 100px;
	
	@media(max-width:767px){
		margin-top: 0px;
	}
	@media(max-width:575px){
		padding-top: 40px;
	}
	
	
	&:before {
		position: absolute;
		content: "";
		width: 100%;
		height: 10%;
		background-color: #193370;
		border-radius: 50%;
		top: -16px;
		
		@media(max-width:575px){
			display: none;
		}
	}
	.hrdSection {
		background-color:#f4f4f4;
		margin-top: -70px;
		padding: 25px 15px 30px;
		margin-bottom: 70px;
		
		@media(max-width:767px){
			margin-bottom: 40px;
		}
		
		@media(max-width:575px){
			margin-bottom: 40px;
			margin-top: 0px;
		}
		
		.hrdCaptionIcon{
			margin-bottom: 5px;
		}
		&:hover{
			background-color:#f4f4f4;
			
			h4{
				color: #155a9f;
			}
			p{
				color: #000;
			}
		}
	}
}
	
/*--front end  css --*/

.technologyStack {
    padding: 50px 0;
	 .heading {
		text-align: center;
		margin: 0 0 50px 0;
    }
	.thumbSection {
	text-align: center;
    margin: 0 0 30px 0;
	border: 1px solid #eee;
	transition: all .7s ease;
    padding: 15px 30px;
	min-height:250px;
	  &:hover{
		 box-shadow: 1px 0 8px rgba(0, 0, 0, 0.12);
		transition: all .7s ease;
		background: rgba(220, 220, 220, 0.2);
		}
		.thumbLogo{
		 margin:0 0 15px 0;
		}
		.thumbDesc{
			h4{
			 font-size:20px;
			 margin: 0 0 10px 0;
			 text-transform: capitalize;
			}
		}
   }
}

.benefits {
    padding: 50px 0;
	 .heading {
		text-align: left;
		margin: 0 0 50px 0;
    }
	.thumbDesc{
	   margin:0 0 20px 0;
			h4{
			 font-size:20px;
			 margin: 0 0 10px 0;
			 text-transform: capitalize;
			}
		}
}




/*  responsive  */

@media(max-width: 575px){

	.hd-Decription {
		margin-bottom: 30px;
	}
	.fhm-imageSection{
		margin-top: 30px;
	}	

}





