
ErrorDocument 404 https://www.ditstek.com/404
ErrorDocument 500 https://www.ditstek.com/404

<IfModule mod_rewrite.c>

RewriteEngine On 
Options -MultiViews

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)/$ /$1 [NE,R=301,L]
RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /Dits-Website/%1 [NC,L,R]

RewriteRule ^core/general/(.*)$ core/general.php?action=$1 [QSA,L]
RewriteRule ^portfolios/(.*)$ /portfolio/$1 [R=301,NC,L]
RewriteRule ^blogs /blog/$1 [R=301,NC,L]
RewriteRule ^blog/(.*)$ inner_blog_page.php?title=$1 [NC]

RewriteRule ^portfolio/([^/]+)/([^/]+)/?$ portfolio.php?category=$1&tag=$2 [NC,L]
RewriteRule ^portfolio/([^/]+)/?$ inner_portfolio_page.php?title=$1 [NC,L]
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]

Options +FollowSymlinks
</IfModule>
