<IfModule mod_rewrite.c>

RewriteEngine On 

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)/$ /$1 [NE,R=301,L]
RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteRule ^core/general/(.*)$ core/general.php?action=$1 [QSA,L]
RewriteRule ^blog/(.*)$ inner_blog_page.php?title=$1 [NC]

RewriteRule ^portfolio/([^/]+)/?$ inner_portfolio_page.php?title=$1 [NC,L]
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]

Options +FollowSymlinks
RewriteEngine on
ErrorDocument 404 /404
</IfModule>

